.personal {
    border: 1px solid grey;
    width: 600px;
    margin: 0 auto;
    padding: 40px;

    .title {
        margin-bottom: 20px;;
    }

    .desc {
        margin-bottom: 20px;
    }

    .btn-add-height {
        margin-top: 20px;
    }

    .part-body {
        display: flex;
        margin-bottom: 10px;

        .form-group {
            margin-right: 20px;
        }
    }

    .close-part-body {
        margin-top: 30px;
    }

    .btn-update {
        margin-top: 20px;
    }

    .form-group-percentage
    .form-group-range {
        display: flex;
        justify-content: center;
        align-items: center;

        label {
            margin-right: 15px;
        }
    }

    .height-attribute {
        margin-bottom: 20px;
    }

    .error-message {
        color: red;
    }
}
