.project-detail {
    @extend %flex;
    @extend %full-height;
    background-color: #ebf0f2;

    .task-status {
        @extend %relative;
        width: 320px;
        min-height: calc(100% - 180px);

        .task-header {
            @extend %color-white;
            @extend %flex-content-space;
            padding: 10px;
            font-size: 20px;
        }

        .block-status-icon-name {
            @extend %flex;
        }

        .status-name {
            margin-left: 15px;
        }

        .task-footer {
            @extend %flex-center;
            padding: 15px;
        }

        .add-task {
            @extend %cursor-pointer;
            font-size: 22px;
        }
    }

    .task-open {
        .task-header {
            background-color: #30bfbf;
        }

        .status-icon {
            @include format-icon('open.png', 32px, 32px, contain);
        }
    }

    .task-in-progress {
        background-color: #f5f7f8;

        .task-header {
            background-color: #00aaff;
        }

        .status-icon {
            @include format-icon('in-progress.png', 32px, 32px, contain);
        }
    }

    .task-done {
        .task-header {
            background-color: #8f7ee6;
        }

        .status-icon {
            @include format-icon('done.png', 32px, 32px, contain);
        }
    }

    .task-list {
        padding: 15px;
        .task {
            @extend %background-white;
            @extend %cursor-pointer;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0px 1px 1px 0px rgba(130,145,153,0.5);
            margin-bottom: 15px;
        }

        &:last-child {
            @extend %no-margin;
        }
    }

    .no-task {
        @extend %center;
        @extend %text-center;

        .icon-drag {
            @include format-icon('drag.png', 150px, 150px, contain);
        }

        .no-task-label {
            margin-top: 15px;
        }

        .guide-add-task {
            margin-top: 10px;
        }
    }
}
