.project-detail {
    @extend %flex;
    min-height: 100%;
    background-color: #ebf0f2;

    .task-status {
        @extend %relative;
        width: 320px;
        min-height: calc(100% - 180px);

        .task-header {
            @extend %color-white;
            @extend %flex-content-space;
            padding: 10px;
            font-size: 20px;
        }

        .block-status-icon-name {
            @extend %flex;
        }

        .status-name {
            margin-left: 15px;
        }

        .block-add-task {
            @extend %flex-center;
            padding: 15px;
        }

        .add-task {
            @extend %cursor-pointer;
            font-size: 22px;
        }

        .form-group-task {
            margin: 0 15px;
        }

        .task-input {
            padding: 15px;
            @extend %full-width;
            border: 2px solid #00aaff;
            min-height: 50px;

            &:focus {
                @extend %no-outline;
            }
        }
    }

    .task-open {
        .task-header {
            background-color: #30bfbf;
        }

        .status-icon {
            @include format-icon('open.png', 32px, 32px, contain);
        }
    }

    .task-in-progress {
        background-color: #f5f7f8;

        .task-header {
            background-color: #00aaff;
        }

        .status-icon {
            @include format-icon('in-progress.png', 32px, 32px, contain);
        }
    }

    .task-done {
        .task-header {
            background-color: #8f7ee6;
        }

        .status-icon {
            @include format-icon('done.png', 32px, 32px, contain);
        }
    }

    .task-list {
        padding: 15px;
        .task {
            @extend %flex-align-center-content-space;
            @extend %background-white;
            @extend %cursor-pointer;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0px 1px 1px 0px rgba(130,145,153,0.5);
            margin-bottom: 15px;
        }

        &:last-child {
            @extend %no-margin;
        }

        .task-name {
            @extend %truncate;
            with: 80%;
        }

        .complete-task {
            @include format-icon('complete.png', 32px, 32px, contain);
        }

        .remove-task {
            @include format-icon('remove.png', 32px, 32px, contain);
        }
    }

    .no-task {
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend %text-center;

        .icon-drag {
            @include format-icon('drag.png', 150px, 150px, contain);
        }

        .no-task-label {
            margin-top: 15px;
        }

        .guide-add-task {
            margin-top: 10px;
        }
    }
}
