<footer class="main-footer">
  <div class="social">
    <h3>
      <a routerLink="/" class="logo"></a>
    </h3>
    <ul class="social-list">
      <li><a href="javascript:void(0)" class="facebook"></a></li>
      <li><a href="javascript:void(0)" class="google"></a></li>
      <li><a href="javascript:void(0)" class="twitter"></a></li>
    </ul>
  </div>
  <div class="sitemap">
    <div class="mind-meister">
      <h3>MindMeister</h3>
      <ul>
        <li><a href="javascript:void(0)">Features</a></li>
        <li><a href="javascript:void(0)">Pricing</a></li>
        <li><a href="javascript:void(0)">Business</a></li>
        <li><a href="javascript:void(0)">Education</a></li>
        <li><a href="javascript:void(0)">Integrations</a></li>
        <li><a href="javascript:void(0)">Apps</a></li>
      </ul>
    </div>
    <div class="about-us">
      <h3>About us</h3>
      <ul>
        <li><a href="javascript:void(0)">Company</a></li>
        <li><a href="javascript:void(0)">Jobs</a></li>
        <li><a href="javascript:void(0)">Partners</a></li>
        <li><a href="javascript:void(0)">Developers</a></li>
        <li><a href="javascript:void(0)">Press</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </div>
    <div class="support">
      <h3>Support</h3>
      <ul>
        <li><a href="javascript:void(0)">Help Center</a></li>
        <li><a href="javascript:void(0)">Tutorial Videos</a></li>
        <li><a href="javascript:void(0)">Training</a></li>
        <li><a href="javascript:void(0)">Security</a></li>
        <li><a href="javascript:void(0)">FAQ</a></li>
      </ul>
    </div>
    <div class="useful-links">
      <h3>Useful Links</h3>
      <ul>
        <li><a href="javascript:void(0)">Public maps</a></li>
        <li><a href="javascript:void(0)">Blog</a></li>
        <li><a href="javascript:void(0)">Video</a></li>
        <li><a href="javascript:void(0)">MeisterTask</a></li>
      </ul>
    </div>
  </div>
</footer>
