<div class="form-group form-group-default form-group-percentage">
  <label>Percentage height</label>
  <div class="attribute-value">
    <input
      type="text"
      class="form-control"
      placeholder="15"
      [value]="percentage"
      (change)="onChange($event)"
      (keyup)="onChange($event)"
      [class.invalid-error]="(submitted || internalFormControl?.dirty) && (formControl?.errors?.percentage || formControl?.errors?.sumPercentage)"
    >
    <error-tooltip
      *ngIf="(submitted || internalFormControl?.dirty) && (formControl?.errors?.percentage || formControl?.errors?.sumPercentage)"
      [message]="formControl?.errors?.percentage?.message || formControl?.errors?.sumPercentage.message"
    ></error-tooltip>
  </div>
</div>
