<section class="logout">
  <h2 class="title">You've been logged out</h2>
  <h3 class="desc">Keep track of your tasks with our mobile apps</h3>
  <div class="digital">
    <img src="/assets/images/apple.png" class="apple">
    <img src="/assets/images/iphone.png" class="iphone">
    <img src="/assets/images/macbook.png" class="macbook">
    <img src="/assets/images/ipad.png" class="ipad">
  </div>
  <p class="detail">With MeisterTask’s free mobile apps for iOS and Android you can collaborate with your team members and stay productive even on the go.</p>
</section>
