.main-header {
    @extend %flex-align-center-content-space;
    padding: 40px 0;

    .logo {
        @include format-icon('logo.svg', 199px, 46px, 'contain');
    }
}

.feature {
    @extend %text-uppercase;
    font-size: 18px;

    .feature-list {
        @extend %flex
    }

    .feature-item {
        margin-left: 30px;
    }
}

.auth {
    .auth-list {
        @extend %flex-align-center;

        .login {
            color: #00AAFF;
        }

        .signup {
            @extend %color-white;
            @extend %block;
            background-color: #00AAFF;
            padding: 10px 10px;
            margin-left: 20px;
            border-radius: 5px;
        }
    }
}
