.main-header {
    @extend %flex-align-center-content-space;
    padding: 40px 0;

    .logo {
        @include format-icon('logo.svg', 199px, 46px, contain);
    }
}

.feature {
    @extend %text-uppercase;
    font-size: 18px;

    .feature-list {
        @extend %flex
    }

    .feature-item {
        margin-left: 30px;
    }
}

