.project-header {
    padding: 0 20px;
    height: 50px;
    @extend %flex-align-center;
    justify-content: space-between;

    .logo {
        @include format-icon('logo-black.svg', 193px, 46px, contain);
    }

    .statisic-task {
        @extend %flex-column;
        align-items: center;
        color: #00AAFF;
        margin-right: 30px;

        .number-task-active {

        }

        .active-label {

        }
    }

    .block-logo-project,
    .block-auth {
        @extend %flex;
    }
}

.dropdown-project {
    margin-left: 20px;

    .dropdown-project-btn {
        color: #00AAFF;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        cursor: pointer;
        border-left: 1px solid cadetblue;
        border-right: 1px solid cadetblue;
    }

    .dropdown-menu-project {
        border-radius: 5px;
        width: 250px;

        .project-label {
            font-weight: 500;
            font-size: 18px;
            padding: 15px;
        }

        .search-project-input {
            width: 100%;
            padding: 15px;
            border: 1px solid #CED5D9;
        }

        .project-list {
            background-color: #A0A9AD;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 694px;
            padding: 10px;
            color: white;
        }
    }
}
