.project-header {
    padding: 0 20px;
    height: 50px;
    @extend %flex-align-center;
    justify-content: space-between;

    .logo {
        @include format-icon('logo-black.svg', 193px, 46px, contain);
    }

    .statisic-task {
        @extend %flex-column;
        align-items: center;
        color: #00AAFF;
        margin-right: 30px;

        .number-task-active {

        }

        .active-label {

        }
    }

    .block-logo-project,
    .block-auth {
        @extend %flex;
    }
}
