<div class="part-body-group">
  <h3 class="height-attribute">Year to grow height body</h3>
  <div class="part-body" *ngFor=" let control of formArray.controls; let i=index">
    <text-range-control
      [formControl]="control"
    ></text-range-control>
    <height-percentage-control
      [formControl]="control"
    ></height-percentage-control>
    <a class="close close-part-body" (click)="deletePartBody(i)">X</a>
  </div>
  <button type="button" class="btn btn-primary btn-add-height" (click)="onAddPartBody()">Add height part body</button>
</div>
