<section class="project-detail">
  <task-status
    class="task-open"
    statusName="Open"
    [tasks]="taskList$ | async | filterTask:1 "
  ></task-status>
  <task-status
    class="task-in-progress"
    statusName="In Progress"
    [tasks]="taskList$ | async | filterTask:2 "
  ></task-status>
  <task-status
    class="task-done"
    statusName="Done"
    [tasks]="taskList$ | async | filterTask:3 "
  ></task-status>
</section>

<!-- FIXME: update the way use dnd -->
<!-- <div class="panel panel-warning"  dnd-sortable-container [sortableData]="arr1" dropZones="widget-dropZone">
    <div class="panel-heading">ARR1</div>
    <div class="panel-body">
        <ul class="list-group">
            <li *ngFor="let data of arr1; let x = index" class="list-group-item"
                dnd-sortable [sortableIndex]="x" dragEnabled="true" dnd-draggable
                [dragData]="{
                  'zone': 'zone-a',
                  'data': data
                }" >{{data}}</li>
        </ul>
    </div>
</div>
<div class="panel panel-warning" dnd-sortable-container [sortableData]="arr2" dropZones="widget-dropZone" >
    <div class="panel-heading">ARR2</div>
    <div class="panel-body" >
        <ul class="list-group">
            <li *ngFor="let data of arr2; let x = index" class="list-group-item"
                dnd-sortable [sortableIndex]="x" dragEnabled="true"
                [dragData]="data" dnd-droppable (onDropSuccess)="aaa(, x)">{{data}}</li>
        </ul>
    </div>
</div> -->
