<section class="project-detail">
  <div class="task-open">
    <div class="task-header">
      <div class="present-icon"></div>
      <label class="name-status">Open</label>
      <label class="number-task">5</label>
    </div>
  </div>
  <div class="task-in-progress">
    <div class="task-header">
      <div class="present-icon"></div>
      <label class="name-status">In Progress</label>
      <label class="number-task">5</label>
    </div>
  </div>
  <div class="task-done">
    <div class="task-header">
      <div class="present-icon"></div>
      <label class="name-status">Done</label>
      <label class="number-task"></label>
    </div>
  </div>
</section>
