<project-header
  [projectList]="projectList$ | async"
  [project]="project$ | async"
  (switchProject)="onSwitchProject($event)"
></project-header>
<project-detail
  [taskList]="taskList$ | async"
  (changeTaskStatus)="onChangeTaskStatus($event)"
  (addTask)="onAddTask($event)"
  (completeTask)="onCompleteTask($event)"
  (removeTask)="onRemoveTask($event)"
></project-detail>

<!-- FIXME: update the way use dnd -->
<!-- <div class="panel panel-warning"
                    dnd-sortable-container [sortableData]="arr1" [dropZones]="['widget-dropZone']">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li *ngFor="let data of arr1; let x = index" class="list-group-item"
                                dnd-sortable [sortableIndex]="x"
                                [dragData]="data" dnd-droppable (onDropSuccess)="onChangeTaskStatuss($event)">{{data}}</li>
                        </ul>
                    </div>
                </div>

<div class="panel panel-warning"
                    dnd-sortable-container [sortableData]="arr2" [dropZones]="['widget-dropZone']" >
                    <div class="panel-body">
                        <ul class="list-group">
                            <li *ngFor="let data of arr2; let x = index" class="list-group-item"
                                dnd-sortable [sortableIndex]="x"
                                [dragData]="data" dnd-droppable (onDropSuccess)="onChangeTaskStatuss($event)">{{data}}</li>
                        </ul>
                    </div>
                </div> -->
