<section class="singup">
  <div class="email-icon"></div>
  <form [formGroup]="form" (ngSubmit)="changePassword()" novalidate>
    <error-message [message]="errorMessage$ | async"></error-message>
    <success-message [message]="successMessage$ | async"></success-message>
    <input-wrapper [control]="form.controls.oldPassword" nameControl="Old password">
      <input class="form-control name" placeholder="Old password" formControlName="oldPassword">
    </input-wrapper>
    <input-wrapper [control]="form.controls.newPassword" nameControl="New password">
      <input class="form-control work-email" placeholder="New password" formControlName="newPassword">
    </input-wrapper>
    <input-wrapper [control]="form.controls.confirmPassword" nameControl="Confirm password">
      <input class="form-control work-email" placeholder="Confirm password" formControlName="confirmPassword">
    </input-wrapper>
    <button type="submit" class="btn btn-signup" [disabled]="!form.valid">Change password</button>
  </form>
</section>
