<section class="personal">
  <h1 class="title">Personal info</h1>
  <p class="desc">You can update your personal details here as well as change your registered password and email address.
  Please note that changing your email address requires reactivation via email.</p>
  <form novalidate [formGroup]="form"(ngSubmit)="updateUser()">
    <input-wrapper
      label="Username"
      nameControl="Username"
      [control]="form.controls.name"
    >
      <input type="text" class="form-control" placeholder="Username" formControlName="name">
    </input-wrapper>
    <part-body-group
      formArrayName="heightPartsBody"
    ></part-body-group>
    <button class="btn btn-success btn-update" type="subbmit" [disabled]="!form.valid">Update info personal</button>
  </form>
</section>
