<section class="singup">
  <div class="email-icon"></div>
  <p class="signup-desc">with your email address</p>
  <form [formGroup]="form" (ngSubmit)="signup()" novalidate>
    <error-message [message]="errorMessage$ | async"></error-message>
    <input-wrapper [control]="form.controls.workName" nameControl="Work name">
      <input class="form-control name" placeholder="Name" formControlName="workName">
    </input-wrapper>
    <input-wrapper [control]="form.controls.email" nameControl="Email">
      <input class="form-control work-email" placeholder="Work Email" formControlName="email">
    </input-wrapper>
    <div formGroupName="passwords">
      <input-wrapper [control]="form.controls.passwords.controls.password" nameControl="Password">
        <input type="password" class="form-control password" placeholder="Password" formControlName="password">
      </input-wrapper>
      <input-wrapper [control]="form.controls.passwords.controls.confirmPassword" nameControl="Confirm Password">
        <input type="password" class="form-control password" placeholder="Confirm Password" formControlName="confirmPassword">
      </input-wrapper>
    </div>
    <button type="submit" class="btn btn-signup" [disabled]="!form.valid">Sign Up</button>
  </form>
</section>
