<div class="dropdown dropdown-default dropdown-add-task " dropdown>
  <a dropdown-open class="dropdown-open-add-task"><span class="glyphicon glyphicon-plus-sign"></span></a>
  <div dropdown-not-closable-zone class="dropdown-menu dropdown-menu-default dropdown-menu-add-task">
    <form novalidate (ngSubmit)="onAddTask()" [formGroup]="formTask">
      <h3 class="title">Add Task</h3>
      <div class="form-group">
        <input class="form-control add-task-input" type="textarea" placeholder="Click to add task title" formControlName="name">
      </div>
      <dropdown-assign
        [projectList]="projectList"
        (closeDropdown)="showDropdownAddTask()"
      ></dropdown-assign>
      <button type="submit" class="btn btn-create-task">Create Task</button>
    </form>
  </div>
</div>
