.modal.in {
    .confirm-modal {
        @extend %center;
        margin: 0;
    }
}

.confirm-modal {
    .confirm-modal-content {
        text-align: center;
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid;
        font-size: 22px;
        background: white;
        border-radius: 10px;

        .confirm-modal-desc {
            font-size: 22px;
        }

        .btn-yes {
            background-color: #099ae8;
        }

        .btn-no {

        }
    }
}
