.dropdown-user {
    .dropdown-menu {
        right: 0;
        left: auto;
    }

    .name-user {
        @extend %cursor-pointer;
        @extend %text-uppercase;
        font-size: 22px;
        color: blue;
    }
}
