.project-panel {
    @extend %color-white;
    padding: 10px;

    .project-label {
        font-size: 18px;
        margin: 20px 0;
    }

    .create-project {
        @extend %color-white;
        @extend %cursor-pointer;
        @extend %absolute;
        font-size: 16px;
        bottom: 30px;
    }

    .plus-sign {
        margin-right: 10px;
    }

}
