<div class="page-error page-error__type{{ type }}">
  <div class="page-error__layout">
    <div class="page-error__content">
      <h2 class="page-error__type">{{ type }}</h2>
      <p class="page-error__info">
        <span class="page-error__message">{{ message }}</span>
        <span class="page-error__warning">{{ warning }}</span>
      </p>
      <a *ngIf="backHome" class="page-error__link" routerLink="/">Back to Home</a>
      <a *ngIf="!backHome" class="page-error__link" (click)="goBack()">Back to Previous Page</a>
    </div>
    <div class="page-error__icon">
    </div>
  </div>
</div>
