<div class="dashboard">
  <h3 class="project-label">Projects</h3>
  <ul class="project-list">
    <li class="project-item">
      <span class="name-project">danh</span>
      <span class="number-task">4</span>
    </li>
    <li class="project-item">
      <span class="name-project">danh</span>
      <span class="number-task">4</span>
    </li>
  </ul>
  <a class="create-project" (click)="openModal()"><i class="glyphicon glyphicon-plus-sign plus-sign"></i>Create New Project</a>
</div>
<modal #myModal class="modal-new-project">
  <modal-content>
    <h3 class="new-project-label">New Project</h3>
    <p class="guide">Please choose a new name and description, and select the people you want to work with</p>
    <form class="form-new-project" [formGroup]="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="My New Project">
        <control-message></control-message>
      </div>
      <a class="add-desc" (click)="addDesc()">Add description</a>
      <div class="form-grpup">
        <textarea class="form-control description" rows="3" placeholder="This isoptional"></textarea>
      </div>
      <div class="form-new-project-action">
        <button type="button" class="btn btn-cancel" click="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-create-project">Create Project</button>
      </div>
    </form>
  </modal-content>
</modal>
