<header class="dashboard-header">
  <dropdown-add-task>
    <add-task (addTask)="onAddTask($event)">
      <dropdown-assign
        [projectList]="projectList"
        (closeDropdown)="showDropdownAddTask()"
      ></dropdown-assign>
    </add-task>
  </dropdown-add-task>
  <a href="javascript:void(0)" (click)="openModal()"><span class="glyphicon glyphicon-search search-task"></span></a>
  <dropdown-user
    [user]="user"
    (logout)="onLogout()"
  ></dropdown-user>
</header>
<search-task-modal
  [taskListSearch]="taskListSearch"
  (searchTask)="onSearchTask($event)"
  (resetSearchTask)="onResetSearchTask()"
  (completeTask)="onCompleteTask($event)"
  (removeTask)="onRemoveTask($event)"
></search-task-modal>
