<div class="task-status" dnd-sortable-container [dropZones]="['task-dropZone']">
  <div>
  <div class="task-header">
    <div class="block-status-icon-name">
      <div class="status-icon"></div>
      <div class="status-name">{{ statusName }}</div>
    </div>
    <label class="number-task">5</label>
  </div>
  <ul class="task-list">
    <li
      class="task"
      *ngFor="let task of tasks"
      dnd-sortable
      [dragData]="task"
      dnd-droppable
      (onDropSuccess)="onChangeTaskStatus($event, task.status)"
    >
      <div class="task-name">{{ task.name }}</div>
      <div class="task-action">
        <a *ngIf="!task.isCompleted" class="complete-task" (click)="onCompleteTask($event, task)" title="Complete task"></a>
        <a *ngIf="task.isCompleted" class="remove-task" (click)="onRemoveTask($event, task)" title="Remove task"></a>
      </div>
    </li>
  </ul>
  </div>
  <div class="form-group form-group-task" *ngIf="isShowFormTask">
    <input type="textarea" class="task-input" (keyup)="onAddTask($event, taskInput.value)" #taskInput (focusout)="onAddTask($event, taskInput.value)">
  </div>
  <div class="block-add-task" >
    <a class="add-task" (click)="showFormTask()"><i class="glyphicon glyphicon-plus-sign plus-sign"></i></a>
  </div>
  <div class="no-task" *ngIf="!tasks?.length">
    <div class="icon-drag"></div>
    <h4 class="no-task-label">No tasks</h4>
    <p class="guide-add-task">Drag tasks here or click + to add new tasks</p>
  </div>
</div>
